.head{
    display: flex;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    font-family: 'Trebuchet MS', sans-serif;
}

.logo{
    width: 90px;
    border-radius: 12px;

    padding-left: 2px;
}
.cart{
    width: 30px;
    height: 10px;
}

.nav > ul{
    display: flex;
    
}

.nav >ul >h3{
    padding: 10px;
    margin: 10px;
    font-size: large;
    color: black;   


}
.profile{
    width: 60px;
    border-radius: 20px;
    margin-left:520px;
    margin-top: 12px;
}
.Search{

    margin: auto;
  width: 30%;
  margin-top: 20px;
  font-size: medium;

}
.cards{
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    position: absolute;

}
.rescard{
    margin-top: 25px;
    background-color: #f0f0f0;
    height: 310px;
    border-radius: 10px;
    width: 200px;
    margin: 11px;
    padding: 2px;
    font-size: small;
    font-family: 'Trebuchet MS', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    

}
.rescard:hover{
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;

}

.Cardimg{
    width: 200px;
    height: 130px;
    border-radius: 10px;
}
.button{
    margin-left: 2px;
    color: green;

}
.topButton{
    
    margin-left: 20px;
    cursor: pointer;
    border-radius: 10px;
    padding: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);


}
.shimmer{
    margin-top: 25px;
    background-color: #f0f0f0;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    margin: 10px;
}

.shimmer-container{
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);

    
}

.Login-container{
    padding: 10px;
    color: #f0f0f0;
    margin-top: 15px;
    margin-left: 10px;
}

.Login{
    padding: 8px;
    cursor: pointer;
    font-size: medium;
}
.Name{
 margin-top: 11px;
 margin-left: 500px;


}

.Link:hover{

     color: blue;
}

.cart{
    text-align: center;
    
}
.res-menu{
    font-family: 'Trebuchet MS', sans-serif;

}